// Przykładowe mixiny

// Media queries
@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// Przyciski
@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $small-spacing $large-spacing;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
