// Kolory
$primary-color: #8a5fe2;
$secondary-color: #1a1a1a;
$accent-color: #f7c600;
$white: #fff;
$gray: #888;
$dark-gray: #444;

// Czcionki
$font-family: "Montserrat", sans-serif;
$heading-font: "Roboto", sans-serif;

// Przestrzeń
$base-spacing: 1rem;
$small-spacing: 0.5rem;
$large-spacing: 2rem;
