footer {
  background: linear-gradient(to right, $primary-color, $primary-color);
  color: $white;
  text-align: center;
  padding: $large-spacing 0;
  font-family: $font-family;

  p {
    margin: 0;
    font-size: 1rem;
  }
}
