header {
  background-color: $primary-color;
  color: $text-color;
  padding: $large-spacing;
  text-align: center;
  font-family: $heading-font;
  border-radius: $border-radius;

  h1 {
    font-size: 3rem;
    margin: 0;
    @include fade-in;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.75rem;
    margin: $small-spacing 0;
  }
}
